/** #8AD821 nice green */


* {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

section#banner {
	width: 100%;
	background-image: url(../img/bgDARK.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

nav {
	background: #2C2C2C;
	height: 80px;
	width: 100%;
}

label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul#menuUl {  /* SE AGREGA ul#menuUl EN TODAS LAS REFERENCIAS PARA SEPARAR UL DE FOOTER*/
	float: right;
	margin-right: 20px;
	padding-top: 10px;
}

nav ul#menuUl li {
	display: inline-block;
	line-height: 60px;  /*SE MODIFICO PARA AJUSTAR EL LARGO DEL SUBMENU*/
	margin: 0 5px;
}

nav ul#menuUl li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

ul#menuUl a.active, ul#menuUl a:hover {
	color: #8AD821; /* BLUE */
	background: #202020;
	transition: .5s;
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

@media (max-width: 1200px) {

	label.logo {
		font-size: 30px;
		padding-left: 50px;
		padding-right: 30px;
	}

	nav ul#menuUl li a {
		font-size: 16px;
	}
}

/* /////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
///////////////////////////////////////////////////////// */


@media (max-width: 1015px) {

	.checkbtn {
		display: block;
	}

	ul#menuUl {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgb(0,0,0,0.95); /*COLOR DEL MENU DESPLEHABLE RESPONSIVO*/
		top: 80px;
		left: -100%;
		text-align: center; 
		transition: all .5s;
	}

	nav {
		position: fixed;
		z-index: 1000;
	}

	nav ul#menuUl li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
		z-index: 1000;
	}

	nav ul#menuUl li a {
		font-size: 20px;
	}

	ul#menuUl a:hover, ul#menuUl a.active {
		background: none;
		color: #8AD821;
	}

	#check:checked ~ ul#menuUl {
		left: 0;
	}

	/* BOTONES Y TEXTO DE BANNER EN INDEX */

	.contenidoInicio {
		width: 100%;
		height: 100%;

	}

	div .contenidoInicioImg {
		padding-top: 170px;
	}

	.contenidoInicioImg img {
		width: 80%;
	}

	div .contenidoInicioText{
		width: 90%;
	}

	div .contenidoInicioText h1 {
		font-size: 30px;
	}

	div .contenidoInicioText p {
		line-height: 20px;
		font-size: 18px;
	}

	div .botonInicio a {
		z-index: 999;
	}

	/*MODIFICACION DE SUBMENUS DENTRO DEL MENU*/

	#menuUl li:hover > ul {
		visibility: hidden;
	}




	div .banners_texto {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		margin-top: 150px;
	}

	/* PRODUCTOS */

	div .banners_texto img {
		width: 250px;
		margin-left: 40px;
		margin-top: -45%;
	}

	div .banners_textPRODPATCH {
		grid-template-columns: repeat(1,1fr);
	}


	div .productosGrid {
		grid-template-columns: repeat(2,1fr);
	}





}


@media (max-width: 800px) {

	/* CARDS DE INDEX ACCESOS DIRECTOS */

	div .content {
		grid-template-columns: repeat(1,1fr);
	}

	div .post {
		height: 50px;
	}

	div .post_header {
		margin-top: 5%;
		width: 100%;
		height: 90px;
		overflow: visible;
		/*background-color: red;*/
		margin-bottom: 0%;
	}

	div .post_img img {
		width: 30%;
		position: relative;
		text-align: center;
		transition: .2s;
	}
	 /* TEXTO DE CARDS */
	div .post_body {
		text-align: center;
		/*background-color: green;*/
		transition: .2s;
		height: 50%;
		padding-left: 10%;
		padding-right: 10%;
	}

	div .post_body_content {
		transition: .2s;
		margin-top: 20%;
	}

	div .post_body_content p {
		margin-bottom: 30px;
	}

	div .imgkienesomos img {
		width: 25%;
	}


	/* FOOTER RESPONSIVO */

	div .finalPag {
		grid-template-columns: repeat(1,1fr);
	}

	div.finalPag_content {
		
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.finalPag_content ul {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 55%;
		margin-bottom: -50px;
	}

	div .endPag {
		grid-template-columns: repeat(1,1fr);
		text-align: center;
	}

	div .endPag_content p {
		font-size: 12px;
		color: #888888;
		width: 80%;
	}

	div .endPag_img {
		width: -moz-fit-content;
	   	width: -webkit-fit-content;
	    width: fit-content;
	    margin: auto;
	    padding-left: 40px;
	}

	div .endPag_img img {
		text-align: center;
		display: inline-block;
		margin-right: 30px;
	}


	div .banners_text {
		grid-template-columns: repeat(1,1fr);
	}


	div .banners_texto {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	div .banners_texto img {
		margin-left: auto;
		margin-right: auto;
	}

	div .contenido_quien {
		grid-template-columns: repeat(1,1fr);
	}

	/* PRODUCTOS */

	div .banners_texto img {
		width: 250px;
		margin-left: 40px;
		margin-top: -30%;
	}

	div .banners_textPRODPATCH {
		grid-template-columns: repeat(1,1fr);
		margin-top: -20px;
	}

	div .banerstextokienesPATCH img {
		width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-top: -150px;
		margin-bottom: 100px;
	}

	div .banners_textoServiciosPATCH img {
		width: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	div .productosGrid {
		grid-template-columns: repeat(1,1fr);
	}


	/* CONTACTO */

	div .contactoGrid {
		grid-template-columns: repeat(1,1fr);
	}

	div .contactologoPATCH {
		margin-top: 30px;
	}








}



/* /////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
///////////////////////////////////////////////////////// */






/* LETRAS DEL MENU INDEX*/
ul a {
	/*color: #F3F3F3;*/
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: color .3s;
}

ul a:hover {
	/*color: #F3F3F3;*/
	color: #8AD821; /*GREEN hover para menu de inicio*/
	-webkit-transition: color .3s;
}

img#logo {
	float: left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 18%;
	width: 500px;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

/*posicionamiento del boton de CONOCE NUESTROS PRODUCTOS
.botonInicio {
	/*background-color: red;
	width: 100%;
	margin-top: 40%;
	position: absolute;
	text-align: center;
}

.botonInicio a {
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	padding: 20px;
	text-decoration: none;
	border: solid 2px white;
	border-radius: 10px;
	color: #fff;
	-webkit-transition: color .3s;
}

.botonInicio a:hover {
	background-color: #fff;
	color: #000;
	-webkit-transition: background-color .3s,color .3s;
} */

/* BOTONES Y TEXTO DE BANNER EN INDEX */

.contenidoInicio {

}

.contenidoInicioImg {
	width: 40%;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7%;
}

.contenidoInicioImg img {
	width: 100%;
}

.contenidoInicioText{
	width: 50%;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	padding: 30px;
}

.contenidoInicioText h1 {
	font-size: 34px;
}

.contenidoInicioText p {
	line-height: 22px;
	font-size: 18px;
}

.botonInicio {
	/*background-color: red;*/
	width: 100%;
	margin-top: 4%;
	position: absolute;
	text-align: center;
}

.botonInicio a {
	background-color: rgb(0,0,0,0.6);
	text-align: center;
	padding: 20px;
	text-decoration: none;
	color: #fff;
	-webkit-transition: color .3s;
	border-radius: 10px;
	border: solid 2px white;
}

.botonInicio a:hover {
	background-color: #fff;
	color: #000;
	-webkit-transition: background-color .3s,color .3s;
}

.contenido {
	width: 100%;
}

.contenido_index {
	margin-top: 35px;
	margin-bottom: 35px;
	background-color: #6B8E23;
	height: 20%;
	padding: 50px;
	padding-left: 10%;
}

.contenido_index h1 {
	color: #fff;
	font-size: 30px;
	margin: 10px;
}

.contenido_index h2 {
	color: #fff;
	margin: 10px;
}

.contenido_index p {
	width: 60%;
	color: #fff;
	margin: 10px;
	font-size: 16px;
	line-height: 24px;
}

.finalPag {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
	background-color: #3C3C3C;
}

.finalPag_content {
	/*background-color: red;*/
	width: 80%;
	margin: 10px;
	color: #C0C0C0;
}

.finalPag_content h3 {
	color: #fff;
}

.finalPag_content p {
	line-height: 26px;
	font-size: 16px;
}

.finalPag_content ul {
	list-style: none;
	margin-left: 23%;
	line-height: 36px;
}

.finalPag_content a {
	font-weight: lighter;
}

.endPag {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
	background-color: #2C2C2C;
	padding: 20px;
}

.endPag_content {
}

.endPag_content p {
	font-size: 12px;
	margin-left: 10%;
	color: #888888;
	width: 100%;
}

.endPag_img {
	margin-right: 10%;
}

.endPag_img img {
	float: right;
	display: inline-block;
	margin-right: 30px;
}

/*TRES ARTICULOS DE INDEX*/

.post_list {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.content {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 25px;
	margin: auto;
	width: 100%;
	color: white;
}

.post {
	overflow: hidden;
	transition: .2s;
	/*background-color: red;*/
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-bottom: 60%;
}

.post_header {
	margin-top: 150px;
	width: 100%;
	height: 50%;
	overflow: hidden;
	/*background-color: red;*/
	margin-bottom: 10%;
}

.post_img {
	width: 100%;
	position: relative;
	text-align: center;
	transition: .2s;
}

.post_img img {
	width: 35%;
	position: relative;
	text-align: center;
	transition: .2s;
}
 /* TEXTO DE CARDS */
.post_body {
	text-align: center;
	/*background-color: green;*/
	transition: .2s;
	height: 50%;
	padding-left: 10%;
	padding-right: 10%;
}

.post_body_content {
	transition: .2s;
}

.post_body_content p {
	margin-bottom: 30px;
}

.post_body_content a {
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 200px;
	text-decoration: none;
	border: solid 2px white;
	border-radius: 10px;
	color: #fff;
	-webkit-transition: color .3s;
}

.post_body_content a:hover {
	background-color: #fff;
	color: #000;
	-webkit-transition: background-color .3s,color .3s;
}

.post:hover {
	transform: scale(1.1);
}

.post:hover .post_img{
	transform: translateY(11px);
}

.post:hover img{
	transform: scale(0.91);
}


.post:hover .post_body {
	transform: scale(0.91);
}

.post:hover .post_body_content {
	transform: translateY(-4.5px);
}

/*MENUS GENERALES*/

section#bannersGen {
	width: 100%;
	background-image: url(../img/bgDARK.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.menuPag {
	position: fixed;
	width: 100%;
	height: 70px;
	/* background-color: red; */
	background-color: #3C3C3C;
	-webkit-transition: background-color .5s;
	z-index: 1000;
}

.menuPag nav {
	display: table;
	margin: auto;
	margin-top: 20px;
	height: 40px;
	/* background-color: green; */
	-webkit-transition: margin-left .5s;
}

.menuPag ul {
	display: block;
	float: left;
	list-style: none;
}

.menuPag ul li {
	float: left;
	margin: 10px;
	padding: 2px;
}

/* LETRAS DE MENUS GENERALES*/
.menuPag ul a {
	/*color: #F3F3F3;*/
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.menuPag ul a:hover {
	/*color: #F3F3F3;*/
	color: #8AD821; /*GREEN hover para menus generales*/
}

 .menuPag img {
	float: left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	width: 150px;
}

.bannersGen {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banners_text {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px;
	width: 100%;
	float: left;
}

.banners_texto {
	/*background-color: red;*/
	margin-top: 23%;
	color: #F3F3F3;
	font-size: 200%;
	margin-left: 25%;
}

.banners_texto h2 {
	border-bottom: 3px solid #fff;
	padding-bottom: 5px;
	width: 100%;
}

.banners_texto img {
	width: 80%;
	margin-left: -20%;
}

.banerstextokienesPATCH img {
	width: 100%;
	padding-top: 50px;
}

.banners_textoServiciosPATCH img {
	width: 100%;
	padding-top: 50px;
}

.productosGrid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 50px;
	padding-left: 10%;
	padding-right: 10%;
}

.productosGrid_cards {
	/*background-color: green;*/
	/*margin-top: 50px;*/
	padding-right: auto;
	float: right;
	align-items: center;
}

.productosGrid_cards p {
	padding: 20px;
	text-align: center;
	color: darkolivegreen;
}

.productosGrid_cards a {
	text-decoration: none;
}

/* BOTONES DE PRODUCTOS */

.buttonContainer {
  position: relative;
  width: 100%;
}

.buttonImage {
  display: block;
  width: 100%;
  height: auto;
}

.buttonOverlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgb(107,142,35,0.8); /* olivedrab */
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.buttonContainer:hover .buttonOverlay {
  width: 100%;
  left: 0;
}

.buttonText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* QUIENES SOMOS */

.contenido_quien {
	color: #fff;
	background-color: #6B8E23;
	padding: 100px;
	padding-left: 10%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
	height: 100%;
}

.contenido_quien-textoinicio {
	text-align: center;
	color: #6B8E23;
	margin: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.contenido_quien-textoinicio h1 {
	margin-bottom: 20px;
}

.contenido_quien-textoinicio h2 {
	text-align: center;
	margin-bottom: 25px;
	text-align: center;
	border-top: 2px solid green;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.contenido_quien-textoinicio p {
	margin-bottom: 60px;
	line-height: 24px;
	color: dimgrey;
}

.contenido_quien-texto {
	width: 100%;
}

.contenido_quien-image {
	width: 100%;
	background-color: red;
	background-size: cover;
	float: right;
}

.contenido_quien h1 {
	color: #fff;
	font-size: 30px;
	margin: 10px;
}

.contenido_quien h2 {
	color: #fff;
	margin: 10px;
}

.contenido_quien p {
	width: 100%;
	color: #fff;
	margin: 10px;
	font-size: 18px;
	line-height: 24px;
}

/* TABLAS */

.tablas-textoinicio {
	text-align: center;
	color: #6B8E23;
	margin: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.tablas-textoinicio h1 {
	margin-bottom: 20px;
}

.tablas-textoinicio h2 {
	text-align: center;
	margin-bottom: 25px;
	text-align: center;
	border-top: 2px solid green;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.tablas-textoinicio p {
	margin-bottom: 0px;
	line-height: 24px;
	color: dimgrey;
}

.tabladiv {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px;
	padding-left: 20%;
	padding-right: 20%;
}

.tabladiv-container {
	width: 100%;
}


.tablas-subtitulos {
	text-align: center;
	color: #6B8E23;
	margin: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.tablas-subtitulos h1 {
	margin-bottom: 20px;
}

.tablas-subtitulos h2 {
	text-align: center;
	margin-bottom: 25px;
	text-align: center;
	border-top: 2px solid orange;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.tablas-subtitulos p {
	margin-bottom: 15px;
	line-height: 24px;
	color: dimgrey;
}

.tablas-table {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}

.tablas-table th{
	padding: 5px;
}

.tablas-table td{
	padding: 10px;
	border-top: 1px solid #000;
	border-right: 0px;
	border-left: 0px;
}

.tablas-textocontenido {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

.tablas-listascontenido {
	text-align: left;
	margin-top: -20px;
	margin-left: 20%;
	margin-right: 20%;
}

.tablas-listascontenido ol {
	margin-left: 20px;
	line-height: 24px;
}

.tablas-tableborders {
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}


.tablas-tableborders table, th, td{
	border: 1px solid grey;
	padding: 10px;
}


/*CONTENIDO DIRECCIONES Y MAPA*/

.contactoGrid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.contactoGridCard h3{
	color: black;
}

.contactoGridCard p {
	color: #3C3C3C;
	line-height: 30px;
}

/* FORMULARIO DE CONTACTO */

input {
	padding: 20px;
	width: 90%;
}

textarea {
	padding: 20px;
	width: 90%; 
	height: 200px;
}

input[type=submit] {
	color: #fff;
	width: 30%;
	background-color: #3C3C3C;
	border: solid 0px;
	-webkit-transition: background-color .3s;
}

input[type=submit]:hover {
	background-color: green;
	cursor: pointer;
	-webkit-transition: background-color .3s;
}


/*MODIFICACION DE SUBMENUS DENTRO DEL MENU*/


#menuUl > li {
	float: none;  /*se cambio de left a none para ajustar menu responsivo*/
}

#menuUl li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

#menuUl li:hover > ul {
	display: block;
	background-color: black;
	width: 200px;
	z-index: 999;
}

#menuUl li:hover > ul a:hover {
	background-color: black;
}

.submenuStyle li a {
	font-weight: lighter;
}

.submenuStyle li a:hover {
	width: 100%;
	border-radius: 0px;
}


/* IR ARRIBA */

.ir-arriba {
	display:none;
	padding:10px;
	background: rgb(0,0,0,0.8);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 1001;
	border-radius: 10px;
}

.ir-arriba img {
	width: 30px;
}